{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
<p>
    <strong>Status:</strong>
    {% if project.status == 'completed' %}
        <span class="badge bg-success">Completed</span>
    {% elif project.status == 'in_progress' %}
        <span class="badge bg-primary">In Progress</span>
    {% elif project.status == 'pending' %}
        <span class="badge bg-secondary">Pending</span>
    {% elif project.status == 'blocked' %}
        <span class="badge bg-danger">Blocked</span>
    {% elif project.status == 'on_hold' %}
        <span class="badge bg-warning text-dark">On Hold</span>
    {% else %}
        <span class="badge bg-dark">{{ project.status }}</span>
    {% endif %}
</p>
        <p><strong>Manager:</strong> {{ project.assigned_manager }}</p>
        <p><strong>Start:</strong> {{ project.start_date }}</p>
        <p><strong>End:</strong> {{ project.end_date }}</p>
    </div>
</div>



       
       
{% endblock %}